@model ProjetoPrima.Dominio.Venda

@{
    ViewBag.Title = "Remover Venda";
}

<div class="container">
    <div class="offset-3 col-md-6">
        <div class="row">
            <div class="col-md-12" style="margin-top: 30px;">
                <h3>Remover Venda</h3>
                <h6>Tem certeza que deseja remover?</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top: 30px;">
                <table class="table  table-hover">
                    <tr>
                        <th scope="col">Nº do Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">CPF</th>
                        <th scope="col" class="text-right">Valor Total</th>
                    </tr>
                    <tr>
                        <td>@Model.NumeroDoPedido</td>
                        <td>@Model.Cliente.Nome</td>
                        <td class="text-center">@Model.Cliente.CPF</td>
                        <td class="text-right">R$ @Model.ValorTotal</td>
                    </tr>
                </table>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="offset-2 col-md-4 espaco">
                    <input type="submit" value="Confimar" class="btn btn-primary preeche" />
                </div>
                <div class="col-md-4 espaco">
                    @Html.ActionLink("Cancelar", "Index", new { area = "" }, new { @class = "btn btn-danger preeche" })
                </div>
            </div>
        }
    </div>
</div>

